{% extends 'index.html' %}

{% block content %}
    <h2>Информация о животных</h2>
    <div>
        <h2>Имя: {{ animal.name }}</h2>
        <h2>Порода: {{ animal.breed }}</h2>
        <h2>Хозяин: {{ animal.appointment_set.first.client }}</h2>
        <h2>Специалист: {{ animal.appointment_set.first.veterinarian.specialty}} </h2>
        <h2>Доктор: {{ animal.appointment_set.first.veterinarian.last_name }}{{ animal.appointment_set.first.veterinarian.first_name}}</h2>

        <h2>Дата: {{ animal.appointment_set.first.date }}</h2>
    </div>
{% endblock content %}

